<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(https://static.wixstatic.com/media/388b7a_83d47312eef94a27a7d337a1a1eae3fa.jpg/v1/fill/w_980,h_240,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/388b7a_83d47312eef94a27a7d337a1a1eae3fa.jpg);">
  <div class="container">
    <h1>Rent Your Celebs !</h1>
    <p><span data-controller="typed-js"></span></p>
  </div>
</div>
