<div class="footer">
  <div class="footer-links">
  <ul>
  <li> <a href="#">© 2023 Rent_A_Celebrity, Inc.</a></li> 
  <li> <a href="#">confidentialité</a></li>
  <li> <a href="#">condition générales</a></li>
  <li> <a href="#">plan du site</a></li>
  </ul>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>