<h1>Les sosies les plus proches de chez vous</h1>
<div class="container"> 
    <div class="grid">
        <div class="card rounded-5 m-3 p-3" style="width: 18rem;">
        <img src="https://picsum.photos/50/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>

        <div class="card rounded-5 m-3 p-3" style="width: 18rem;">
        <img src="https://picsum.photos/50/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>

        <div class="card rounded-5 m-3 p-3" style="width: 18rem;">
        <img src="https://picsum.photos/50/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>

        <div class="card rounded-5 m-3 p-3" style="width: 18rem;">
        <img src="https://picsum.photos/50/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
        <div class="card rounded-5 m-3 p-3" style="width: 18rem;">
        <img src="https://picsum.photos/50/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>

        <div class="card rounded-5 m-3 p-3" style="width: 18rem;">
        <img src="https://picsum.photos/50/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>

        <div class="card rounded-5 m-3 p-3" style="width: 18rem;">
        <img src="https://picsum.photos/50/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>

        <div class="card rounded-5 m-3 p-3" style="width: 18rem;">
        <img src="https://picsum.photos/50/50" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
    </div>
</div>
