#grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
}

#grid img {
  height: 200px;
  width: 100%;
}

.card-info {
  padding: 16px;
}

.celebrity {
  font-weight: bold;
  font-size: 22px;
}

