
.card-info {
  padding: 16px;
}

.celebrity {
  font-weight: bold;
  font-size: 22px;
}
.price {
  font-weight: bold;
  font-size: 18px;
}

// .card img {


// }

// .row {
//   padding: 20px 80px;
// }
.card {
  margin: 10px;
  border-radius: 5px 5px 5px 5px;
  height: 500px;

}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  box-shadow: #FFF 0 -1px 4px, rgb(102, 94, 187) 0 -2px 10px, rgb(191, 172, 226) 0 -10px 20px, 5px 5px 23px -3px rgba(255,251,246,0);
  transition: 350ms;
  a {
    background-color: #696969;
    font-weight: bold;
  }

}
.card a {
  text-decoration: none;

  text-align: center;
  background-color: #A9A9A9;
  color: white;
  padding: 16px;
}

.card-index {
  text-decoration: none;
  color: #6C767D;
}

.card-index:hover {
  color: #696969;
}
