.card-reservation {
border-radius: 16px;
width: 400px;
height: 436px;
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
}

.available-tag{
  background-color: rgb(13, 147, 13);
  border-radius: 6px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
  color: white;
  font-weight: 700;
  text-align: center;
  padding: 2px;
  width: 130px;
  height: 28px;
  margin: 20px 10px;
}


#book{
 justify-content: center;

}

.element-card {
margin: 20px 10px;
}

.price-card {
  margin: 20px 10px;
}

.img-show {
  border-radius: 6px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
}

.reserv-btn {
  width: 100%;
  margin-bottom: -64px;
  height: 50px;
  background-color: #A9A9A9;
  color: white;
}

.reserv-btn:hover {
  background-color: #696969;
  font-weight: bold;
  color: white;
}

.class-top {
  margin-top: 70px;


}

.description-offer {
  margin-right:50px;
  border-radius: 20px;
  width: 754px;
  

h1 {
  border-top: 1px solid black;
  
}
} 
.footer-links {
  margin-top: 40px;
} 

